# Pinterest OAuth
PINTEREST_APP_ID=1550825
PINTEREST_APP_SECRET=9586e373e34a3bbcf4d873c348b0eb13a701bf4b
PINTEREST_USE_SANDBOX=true
APP_URL=https://ais-dev-kekelhgmcatvqhte7qcapt-434565758206.asia-southeast1.run.app
